.person {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  cursor: alias;
  padding-top: 50px;
  font-size: 18px;

  &Card {
    max-width: 60%;
    width: 100%;
    min-height: 400px;
    border-radius: 25px;
    background-color: #7575c4;
    border: 2px solid #FF0000;
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 15px #fff;
    @media (max-width: 768px) {
      max-width: 80%;
    }
  }

  &Image {
    margin: 10px auto 50px;
    max-width: 250px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #65c5dc;
    box-shadow: 0 0 10px #ff00ea;
  }

  &List {
    color: #fff;
    margin-bottom: 10px;
  }

  &Close {
    display: block;
    cursor: pointer;
    max-width: 100px;
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
    color: #fff;
    box-shadow: 0 0 5px #ff03ea;
    font-weight: bold;
    background-color: #3b5b8a;
    border: 2px solid #2ef800;
    margin: 40px auto 20px;
    padding: 6px;
    transition: background-color .2s linear, box-shadow .2s linear;

    &:hover {
      background: #f60000;
      box-shadow: 0 0 10px #000;
    }
  }

  &Text {
    font-style: italic;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: 2px underline;
    text-decoration-color: #e500ff;
    text-shadow: 0 0 5px #6E0707;
  }
}